.container {
	width: 1000px;
	text-align: center;
	padding: 1px;
	background-color: white;
}
.header {
	margin: 20px;
	padding: 10px;
	height: 50px;
	text-align: right;
	font-style: italic;
	background-color: #BCBE97;
}
.footer{
	margin: 20px;
	padding: 10px;
	height: 40px;
	text-align: center;
	background-color: #F2F2F2;
}
.navigation{
	margin: 20px;
	padding: 10px;
	border-top: solid #EDEDED;
	border-bottom: solid #EDEDED;
}
.content {
	padding: 20px;
}
.contact-form {
	text-align: center;
	width: 700px;
	padding: 10px;
	border: 2px solid #444;
}
body {
	background-color: #E5E5E5;
}